.hero {
  display: flex;
  width: 1100px;
  height: 400px;
}

.slide {
  border-radius: var(--radius-md);
}

.img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  overflow: hidden;
  border-radius: var(--radius-md);
  cursor: pointer;
}
